table {
    width: 100%;
  }

  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }

  h1 {
    padding-bottom: 25px;
  }

  .mat-raised-button {
    margin: 25px;
  }